body{
  background-color: black;
  color: #fff;
}

.click-btn{
padding: 12px; 
margin: 20px;
background-color: rgb(98, 89, 89);
}
button{
  cursor: pointer;
}
.box{
background-color: red;
padding: 15px;
}
p{
  visibility: hidden;
}
.paragraphVisible{
  visibility: visible;
}

